body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

.themed-col1,
.themed-col2,
.themed-col3 {
    color: #ebebeb;
    font-size: 20px;
    padding: 30px 10px;
    box-sizing: border-box;
}

.themed-col1 {
    background-color: coral;
}

.themed-col2 {
    background-color: cornflowerblue;
}

.themed-col3 {
    background-color: darkseagreen;
}

.themed-col3 span {
    display: block;
    font-size: 15px;
}

.themed-label {
    color: #ffffff;
    background-color: green;
    font-size: 0.8em;
    font-weight: 400;
    text-transform: uppercase;
    padding: 7px 10px 5px 10px;
    border-radius: 5px;
}